.box{
    border:1px #eee solid ;
    padding: 10px 0;
    margin: 6px;
    height: 240px;
}

.movie{
    text-align: center;

}

.movie img{
    max-height: 165px;
    padding: 10px 0;
    margin: 0 auto;
}

